In [51]:
'''Importamos librer√≠as para el manejo de datos'''
import pandas as pd

In [52]:
df = pd.read_excel('../dataset/BASE DE DATOS JULIO.xlsx', header=1)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18920 entries, 0 to 18919
Data columns (total 53 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   RED           18920 non-null  object
 1   MICRORED      18920 non-null  object
 2   NUCLEO        18920 non-null  object
 3   EESS          18920 non-null  object
 4   COD_UNICO     18920 non-null  int64
 5   IDCITA        18920 non-null  int64
 6   LOTE          18920 non-null  object
 7   PAGINA        18920 non-null  int64
 8   REGISTRO      18920 non-null  int64
 9   COND_EESS     18920 non-null  object
 10  COND_SERV     18920 non-null  object
 11  FECHA         18920 non-null  datetime64[ns]
 12  TIPODOC       18920 non-null  object
 13  NUMDOC        18920 non-null  object
 14  PACIENTE      18776 non-null  object
 15  FECHANAC      18920 non-null  object
 16  HCL           18776 non-null  float64
 17  FF            97 non-null     object
 18  ETNIA         18776 non-null  object
 19  SEGURO        18776 non-null  object
 20  SEXO          18920 non-null  object
 21  EDAD          18920 non-null  int64
 22  TIPO_EDAD     18920 non-null  object
 23  EDAD_Y        18920 non-null  int64
 24  EDAD_M        18920 non-null  int64
 25  EDAD_D        18920 non-null  int64
 26  CODIGO        18920 non-null  object
 27  TIPODX        18920 non-null  object
 28  LABCONF       9805 non-null   object
 29  ITEM          18126 non-null  object
 30  CLASE         18126 non-null  object
 31  CORRELA_ITEM  18920 non-null  int64
 32  CORRELA_LAB   18920 non-null  int64
 33  PESO          18920 non-null  float64
 34  TALLA         18920 non-null  float64
 35  HEMOGLOBINA   18920 non-null  float64
 36  CCPP          3533 non-null   object
 37  PAB           18920 non-null  int64
 38  PC            18920 non-null  float64
 39  PREGESTA      18920 non-null  float64
 40  OTRA_COND     18920 non-null  object
 41  FUR           18920 non-null  object
 42  ID_UPS        18920 non-null  int64
 43  SERVICIO      18920 non-null  object
 44  RHTIPODOC     18920 non-null  object
 45  RHNUMDOC      18920 non-null  int64
 46  PERSONAL      18920 non-null  object
 47  PROFESION     18920 non-null  object
 48  REGNUMDOC     18920 non-null  int64
 49  DIGITADOR     18920 non-null  object
 50  FECH_REG      18920 non-null  datetime64[ns]
 51  FECH_MOD      18920 non-null  object
 52  CANTIDAD      18920 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(15), object(30)
memory usage: 7.7+ MB

In [54]:
new_columns = [col.strip().lower().replace(' ', '_') for col in df.columns]
df.columns = new_columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18920 entries, 0 to 18919
Data columns (total 53 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   red           18920 non-null  object
 1   microred      18920 non-null  object
 2   nucleo        18920 non-null  object
 3   eess          18920 non-null  object
 4   cod_unico     18920 non-null  int64
 5   idcita        18920 non-null  int64
 6   lote          18920 non-null  object
 7   pagina        18920 non-null  int64
 8   registro      18920 non-null  int64
 9   cond_eess     18920 non-null  object
 10  cond_serv     18920 non-null  object
 11  fecha         18920 non-null  datetime64[ns]
 12  tipodoc       18920 non-null  object
 13  numdoc        18920 non-null  object
 14  paciente      18776 non-null  object
 15  fechanac      18920 non-null  object
 16  hcl           18776 non-null  float64
 17  ff            97 non-null     object
 18  etnia         18776 non-null  object
 19  seguro        18776 non-null  object
 20  sexo          18920 non-null  object
 21  edad          18920 non-null  int64
 22  tipo_edad     18920 non-null  object
 23  edad_y        18920 non-null  int64
 24  edad_m        18920 non-null  int64
 25  edad_d        18920 non-null  int64
 26  codigo        18920 non-null  object
 27  tipodx        18920 non-null  object
 28  labconf       9805 non-null   object
 29  item          18126 non-null  object
 30  clase         18126 non-null  object
 31  correla_item  18920 non-null  int64
 32  correla_lab   18920 non-null  int64
 33  peso          18920 non-null  float64
 34  talla         18920 non-null  float64
 35  hemoglobina   18920 non-null  float64
 36  ccpp          3533 non-null   object
 37  pab           18920 non-null  int64
 38  pc            18920 non-null  float64
 39  pregesta      18920 non-null  float64
 40  otra_cond     18920 non-null  object
 41  fur           18920 non-null  object
 42  id_ups        18920 non-null  int64
 43  servicio      18920 non-null  object
 44  rhtipodoc     18920 non-null  object
 45  rhnumdoc      18920 non-null  int64
 46  personal      18920 non-null  object
 47  profesion     18920 non-null  object
 48  regnumdoc     18920 non-null  int64
 49  digitador     18920 non-null  object
 50  fech_reg      18920 non-null  datetime64[ns]
 51  fech_mod      18920 non-null  object
 52  cantidad      18920 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(15), object(30)
memory usage: 7.7+ MB

In [55]:
df.head()

,red,microred,nucleo,eess,cod_unico,idcita,lote,pagina,registro,cond_eess,...,servicio,rhtipodoc,rhnumdoc,personal,profesion,regnumdoc,digitador,fech_reg,fech_mod,cantidad
0,CHOTA,CHALAMARCA,NUCLEO CHALAMARCA,CHALAMARCA,4718,1241311300,G11,1,1,R,...,MEDICINA GENERAL,DNI,73755296,KATERINE ALEJANDRA SANCHEZ BRIONES,MEDICO GENERAL,45771417,DAVID CHUQUIMANGO CERCADO,2025-07-02 12:21:12,- - : :,1
1,CHOTA,CHALAMARCA,NUCLEO CHALAMARCA,CHALAMARCA,4718,1241311300,G11,1,1,R,...,MEDICINA GENERAL,DNI,73755296,KATERINE ALEJANDRA SANCHEZ BRIONES,MEDICO GENERAL,45771417,DAVID CHUQUIMANGO CERCADO,2025-07-02 12:21:12,- - : :,1
2,CHOTA,CHALAMARCA,NUCLEO CHALAMARCA,CHALAMARCA,4718,1241311300,G11,1,1,R,...,MEDICINA GENERAL,DNI,73755296,KATERINE ALEJANDRA SANCHEZ BRIONES,MEDICO GENERAL,45771417,DAVID CHUQUIMANGO CERCADO,2025-07-02 12:21:12,- - : :,1
3,CHOTA,CHALAMARCA,NUCLEO CHALAMARCA,CHALAMARCA,4718,1241311300,G11,1,1,R,...,MEDICINA GENERAL,DNI,73755296,KATERINE ALEJANDRA SANCHEZ BRIONES,MEDICO GENERAL,45771417,DAVID CHUQUIMANGO CERCADO,2025-07-02 12:21:12,- - : :,1
4,CHOTA,CHALAMARCA,NUCLEO CHALAMARCA,CHALAMARCA,4718,1241311300,G11,1,1,R,...,MEDICINA GENERAL,DNI,73755296,KATERINE ALEJANDRA SANCHEZ BRIONES,MEDICO GENERAL,45771417,DAVID CHUQUIMANGO CERCADO,2025-07-02 12:21:12,- - : :,1

In [ ]:
# pivot table del numero de eess y cod_unico
pivot_table = df.pivot_table(index='eess', 
                             values='cod_unico', 
                             aggfunc='count').reset_index().sort_values(by='cod_unico', 
                                                                        ascending=False)
pivot_table[['eess', 'cod_unico']].head(10)

                       eess  cod_unico
1                CHALAMARCA       4545
7                  LA COLPA       1894
5                  EL VERDE       1845
6              HUAYRASITANA       1513
9               MASINTRANCA       1503
12                  NUMBRAL       1380
2            CONGA EL VERDE       1192
10                    NOGAL       1052
13               ROSASPAMPA        825
4   EL NARANJO (CHALAMARCA)        786

In [62]:
df['codigo'] = df['codigo'].astype(str)

df.query("codigo == '99801'")['eess'].value_counts()

eess
CHALAMARCA                 167
MASINTRANCA                 74
LA COLPA                    67
ROSASPAMPA                  62
HUAYRASITANA                62
CONGA EL VERDE              55
BELLANDINA                  51
NUMBRAL                     51
EL VERDE                    50
EL NARANJO (CHALAMARCA)     50
NOGAL                       41
LUCMAR                      30
EL MIRADOR                  24
NUEVO SAN JUAN              10
Name: count, dtype: int64

In [63]:
start_plan_c = '99801'
conteo_am = 0
conteo_fam = 0

for value in df['codigo']:
    if value == start_plan_c:
        conteo_am += 1
    else:
        conteo_fam += 1

print(f'''Inicio de plan: {conteo_am}
      Fin de plan: {conteo_fam}''')

Inicio de plan: 794
      Fin de plan: 18126